body {
  background-color: #f7f8fa;
}

nav .nav-wrapper {
  background-color: #596e79;
}

.playerInfo {
  display: flex;
  height: 85px;
}

.compStats, .play1Stats {
  float: left;
  margin: 0 auto;
}

.compStats {
  margin-right: 100px;
}

.compStats>h2, .play1Stats>h2 {
  font-size: 24px;
  margin: 10px 0px;
}

.progress {
  height: 18px;
  width: 400px;
}

.progress .determinate {
  background-color: red;
}

.players {
  display: flex;
  height: 360px;
}

.compPlayer {
  height: 360px;
  width: 330px;
  background-image: url("/png/undead-left.png");
  float: left;
  margin: auto;
  position: absolute;
  display: block;
}

.player1 {
  height: 360px;
  width: 330px;
  background-image: url("/png/yeti-right.png");
  float: left;
  margin: auto;
  /*position: absolute;*/
  margin-right: 25px;
  display: block;
}

.quotes-container {
  text-align: center;
  height: 80px;
}

i.left {
  margin-left: 360px;
}

i.right {
  margin-right: 360px;
}

.quotes {
  font-size: 20px;
  margin: 20px 400px;
}

.buttonsLeft {
  width: 50%;
  text-align: center;
  padding: 10px 30px;
  float: left;
}

.buttonsRight {
  width: 50%;
  text-align: center;
  padding: 10px 30px;
  float: left;
}

.btn {
  margin: 10px 10px;
}
